body{
    width: 1115px;
    height: 640px;
}

.container{
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}

#space{
    height: 215px;
}

#footer{
    height: 46px;
}

#language{
    height: 48px;
}

#search{
    height: 160px;
}

#logo{
    height: 97px;
    padding: 200px;
    padding-top: 0%;
    padding-bottom: 0%;
}

#menu{
    height: 60px;
}

#centralization{
    height: 140px;
    width: 1075px;
    margin-left: 245px;
    margin-right: 245px;
}


#search-bar{
    height: 30px;
    width: 540px;
    background-color: grey;
    border-radius: 10;
}

#data-input{
    justify-content: center;
}
